h1{
    background-color: #85e085;
    background-position: right top;
    text-shadow: #9f9d9f;
}

img {
    max-width: 15%;
    margin: auto;
    object-fit: cover;
    display: block;
    display: grid;
    left: auto;
    flex-wrap: wrap;
    flex: auto;
    grid-row: start;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}


#skill_list{
    background-color: #85e085;
}
#hero{
    background-color: #85e085;
}
.hero{
    background-color: #85e085;
}



#menu{
    background-color: #85e085;
}
#pics {
    max-width: 10%;
}
button:hover{
    color: blue;
}
#Education{
    background-color: #85e085;
}
#contact{
    background-color: #85e085;
}
#plans{
    background-color: #b2dbb2;
}
#skill{
    background-color: #85e085;
}

button{
    width: 95px;
    bottom: 150;
}

:root{
    --primary:var(--primary) #f51d1d;
    --secondary:var(--secondary) #86a3fa;
    --tertiary:var(--tertiary) #85e085;
}

 nav > ul {
    list-style-type: none;
    display: 0;
    padding: 0;
    gap: irem;
    width:fit-content ; 
    position: fixed;
    left: 0%;
    top: 68;
    bottom: auto;
}

a:visited{
    color: red;
}
.move:hover{
    color: #103ab8;
}
.move{
    display: inline;
    gap: irem;
}
section{
    height: auto;
    display: show;
}
    
ul , h3{
    color: rgb(14, 102, 14);
}

#desktop_menu{
    position:  fixed;  
    left: 50%;
}
@media screen  and (max-width:559px) {/* phones*/
    div#contariner h1 , dialog , title , button ,h2 ,h3 ,ul,section {
        width: 163%;
        

        }

div{
    flex-wrap: auto;
    grid-column: auto;

}

.child{
 border: 1px;
 display: flex;
 flex-direction: column;
}


.pic{
  transition: transform 0.3s ease;
}

.pic:hover {
  transform: scale(1.2); 
  cursor: pointer;
}


#photo{
  transition: transform 0.3s ease;
}

#photo:hover {
  transform: scale(1.2); 
}
    }
    .skill_list {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 8px;
    }
     .pic {
    max-width: 143%;
    margin: auto;
    object-fit: cover;
    display: block;
    display: grid;
    left: auto;
    flex-wrap: wrap;
    flex: auto;
    grid-row: start;
}
 #photo {
    max-width: 55%;
    margin: auto;
    object-fit: cover;
    display: block;
    display: grid;
    left: auto;
    flex-wrap: wrap;
    flex: auto;
    grid-row: start;
}

    


@media screen  and (max-width:768px){/* this is for tap*/

    div#contrainer h1 , dialog , title , button , h2 ,h3 , ul,section{
        width: 150px;
    }
    }

div{
    flex-wrap: auto;
    grid-column: auto;

}

.child{
 border: 1px;
 display: flex;
 flex-direction: column;
}


.pic{
  transition: transform 0.3s ease;
}

.pic:hover {
  transform: scale(1.2); 
  cursor: pointer;
}


#photo{
  transition: transform 0.3s ease;
}

#photo:hover {
  transform: scale(1.2); 
  cursor: pointer;
}

  .pic {
    max-width: 143%;
    margin: auto;
    object-fit: cover;
    display: block;
    display: grid;
    left: auto;
    flex-wrap: wrap;
    flex: auto;
    grid-row: start;
}
 #photo {
    max-width: 55%;
    margin: auto;
    object-fit: cover;
    display: block;
    display: grid;
    left: auto;
    flex-wrap: wrap;
    flex: auto;
    grid-row: start;
}
    


@media screen  and (max-width:995px){/* this is for laptop or desktop*/

    div#contrainer h1 , dialog , title , button ,h2 , h3 ,ul,section{
        width: 25%;
    }
    
}

div{
    flex-wrap: auto;
    grid-column: auto;

}

.child{
 border: 1px;
 display: flex;
 flex-direction: column;
}


.pic{
  transition: transform 0.3s ease;
}

.pic:hover {
  transform: scale(1.2);
  cursor: pointer;
}


#photo{
  transition: transform 0.3s ease;
}

#photo:hover {
  transform: scale(1.2); 
  cursor: pointer;
}
  .pic {
    max-width: 143%;
    margin: auto;
    object-fit: cover;
    display: block;
    display: grid;
    left: auto;
    flex-wrap: wrap;
    flex: auto;
    grid-row: start;
}
 #photo {
    max-width: 10%;
    margin: auto;
    object-fit: cover;
    display: block;
    display: grid;
    left: auto;
    flex-wrap: wrap;
    flex: auto;
    grid-row: start;
}
